@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,100;0,150;0,200;0,250;0,300;0,350;0,400;0,450;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;

}
body{
background-image: url("https://images7.alphacoders.com/562/562759.jpg");
    background-repeat: no-repeat;
background-attachment: fixed;
    font-family: "Poppins",sans-serif;
    background-size: cover;
   min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}
.countcontainer{
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.big-text{
    font-weight: bolder;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.count-el{
    text-align: center;
}
.count-el span{
    font-size: 1.5rem;
}